[submodule "ufla-tcc-infra"]
	path = ufla-tcc-infra
	url = git@github.com:rafaelportomoura/ufla-tcc-infra.git
[submodule "ufla-tcc-contact-bridge"]
	path = ufla-tcc-contact-bridge
	url = git@github.com:rafaelportomoura/ufla-tcc-contact-bridge.git
[submodule "ufla-tcc-jenkins"]
	path = ufla-tcc-jenkins
	url = git@github.com:rafaelportomoura/ufla-tcc-jenkins.git
[submodule "ufla-tcc-orders"]
	path = ufla-tcc-orders
	url = git@github.com:rafaelportomoura/ufla-tcc-orders.git
[submodule "ufla-tcc-oauth"]
	path = ufla-tcc-oauth
	url = git@github.com:rafaelportomoura/ufla-tcc-oauth.git
[submodule "ufla-tcc-products"]
	path = ufla-tcc-products
	url = git@github.com:rafaelportomoura/ufla-tcc-products.git
[submodule "ufla-tcc-stock"]
	path = ufla-tcc-stock
	url = git@github.com:rafaelportomoura/ufla-tcc-stock.git
[submodule "ufla-tcc-modelo"]
	path = ufla-tcc-modelo
	url = git@github.com:rafaelportomoura/ufla-tcc-modelo.git
